/.idea/
*/.idea/
/.vs/
/.vscode/
/.vshistory/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
coverage/
*.user
*.suo
Thumbs.db
.DS_Store
/publish/
*/node_modules/
/web/public/livemap.js*
/web/public/livemap.css*
/web/public/data/
/web/public/tiles/
/web/dist/

/runData/
/runDataClient/
/clientLogs/
/Release/
/docs/
